<?xml version="1.0"?>
<!-- THE single robot description entry point for Buddy v0.1.
     RViz, Gazebo, and (optionally) ros2_control all build from this file.
     Geometry lives in buddy_params.xacro. -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="buddy">
  <!-- Build switches -->
  <xacro:arg name="use_gazebo" default="true"/>       <!-- emit gz plugins + sensors -->
  <xacro:arg name="use_ros2_control" default="false"/> <!-- emit ros2_control (real hardware) -->

  <xacro:property name="use_gazebo" value="$(arg use_gazebo)"/>
  <xacro:property name="use_ros2_control" value="$(arg use_ros2_control)"/>

  <xacro:include filename="$(find buddy_description)/urdf/buddy_params.xacro"/>
  <xacro:include filename="$(find buddy_description)/urdf/base_four_wheel_diff.urdf.xacro"/>
  <xacro:include filename="$(find buddy_description)/urdf/sensors_rgbd_2d_lidar.urdf.xacro"/>
  <xacro:include filename="$(find buddy_description)/urdf/arm_placeholder.urdf.xacro"/>
  <xacro:include filename="$(find buddy_description)/urdf/buddy.gazebo.xacro"/>
  <xacro:include filename="$(find buddy_description)/urdf/ros2_control_four_wheel_base.xacro"/>

  <xacro:buddy_base/>
  <xacro:buddy_sensors/>
  <xacro:buddy_arm_placeholder/>

  <xacro:if value="${use_gazebo}">
    <xacro:buddy_gazebo/>
  </xacro:if>

  <xacro:if value="${use_ros2_control}">
    <xacro:buddy_ros2_control/>
  </xacro:if>
</robot>
